<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.InterviewDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=InterviewDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>